.call {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  background-color: #ffffff;
  z-index: 2;

  &--open {
    z-index: 3;
    right: 0;
    transition: right 0.7s;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &__title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 24px;
    line-height: 32px;

    &::before {
      display: inline-block;
      content: '';
      width: 4px;
      height: 40px;
      border: 1px solid #41f6d7;
      position: relative;
      background-color: #41f6d7;
      border-radius: 4px;
      left: -15px;
      top: 7px;
    }
  }
}

@media (min-width: $tablet-width) {
  .call {
    right: -440px;
    width: 440px;
    padding: 25px;

    &--open {
      right: 0;
    }

    &__title {
      margin-top: 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .call__button-cross {
    display: none;

    &--open {
      position: absolute;
      display: block;
      left: -60px;
      top: 38px;
    }
  }
}

.call-form {
  &__input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 15px;
    font: inherit;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }

  &__agreement {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;

    &--important {
      color: #ff3e79;
    }
  }

  &__button {
    margin-left: 58%;
  }
}

@media (min-width: $tablet-width) {
  .call {
    &__title {
      margin-top: 0;

      &::before {
        left: -25px;
        top: 7px;
      }
    }
  }

  .call-form__button {
    margin-left: 69%;
    left: -22px;
  }
}

@media (min-width: $desktop-width) {
  .call {
    &__title {
      margin-top: 0;

      &::before {
        left: -25px;
        top: 7px;
      }
    }
  }

  .call__button-cross {
    &--open {
      position: absolute;
      display: block;
      left: -73px;
      top: 32px;
    }
  }
}
