.table {
  width: 98%;
  font-size: 14px;
  line-height: 18px;
  border-collapse: collapse;

  &__data {
    position: relative;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 26px;
    border-bottom: 2px solid #eaeaea;
    background-color: #ffffff;
    border-radius: 6px;

    &--order {
      padding-right: 155px;
    }
  }

  &__header {
    padding: 33px 0 15px 19px;
    line-height: 16px;
    font-weight: normal;
    text-align: left;
    color: #7e7e82;
    opacity: 0.7;

    &-price {
      padding-left: 36px;
    }

    &-period {
      padding-left: 45px;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 124px;
    margin-top: -16px;
  }
}

@media (min-width: 1024px) {
  .table {
    &__button {
      left: 222px;
    }
  }
}

@media (min-width: $desktop-width) {
  .table {
    width: 96%;

    &__button {
      left: 202px;
    }

    &__data {
      &--order {
        padding-right: 181px;
      }
      &_free {
        padding-right: 76px;
      }
    }
  }
}

@media (min-width: 1567px) {
  .table {
    &__button {
      left: 278px;
    }
  }
}
